<div class="container"> 
    <!-- what is class="container" -->
    <h1>SQL Script Generator</h1>
    <form>
        <label for="prompt">Enter your prompt: </label>
        <textarea
            id="prompt" 
            class="form-control"
            [(ngModel)]="userPrompt" 
            name="prompt"
            row=5
            required
        ></textarea>
        <!-- <textarea> is an element in HTML that supports multiple lines of text by default -->
        <!-- id='prompt' - it is unique identifier for the <textarea> -->
        <!-- [(ngModel)]="userPrompt" - This is an Angular-specific syntax called two-way data binding. -->
        <button type="submit" class="btn btn-primary" [disable]="!promptForm.form.valid"> 
            Generator SQL Script
        </button>

        <!-- what is [disable]="!promptForm.form.valid" -->
    </form>
    <div *ngIf="generatedScript" class="mt-4">
        <h2>Generated SQL Script:</h2>
        <pre>{{ generatedScript }}</pre>
    </div>


</div>